
#post{
    display: none;

    z-index: 1000;

    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    
    overflow-y: scroll;
    overflow-x: hidden;

    padding: 50px 20px;

    background: #3a3c3f;

    text-align: center;
}
#post .wrapper{
    width: clamp(280px, 100%, 720px);
    margin: 0 auto;
}

#post h2{
    margin: 0;

    font-family: monospace;
    text-decoration: underline;
}

.images_to_post{
    position: relative;
    display: block;
    width: 100%;

    margin: 20px 0;
    border: #000000 2px solid;
}
.images_to_post::after{
    content: 'Touch to select image';
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: #00000027;
    color: #000000;
    font-weight: 900;
    font-family: monospace;
    position: absolute;
    top: 0;
    left: 0;
}
#thumbnail{
    position: absolute;
    left: 0;
    top: 0;

    border: #000000 1px solid;
}
#preview{
    max-width: 100%;
}

#post textarea{
    width: 90%;
    min-width: 90%;
    max-width: 90%;
    min-height: 100px;

    padding: 10px;

    margin-top: 20px;

    font-size: 25px;
    border: 2px #000000 solid;
    outline: none;
}

#post label{
    cursor: pointer;
    user-select: none;

    font-size: 30px;
} 

#post input[type="submit"], button{
    cursor: pointer;

    font-family: monospace;

    background: #25547e;
    color: #ebebeb;

    width: 80%;

    margin: 20px 10%;

    padding: 10px 20px;

    font-size: 30px;
    font-weight: 900;
    letter-spacing: 3px;

    border-radius: 10px;
    border: 0;
}
button{
    background: #611313;
    color: #ebebeb;
}

#post_result{
    font-size: 30px;
    padding: 20px;
    margin: 20px 0;
    background: #00000028;
}





/* mask */
#mask{
    display: none;

    z-index: 1000;

    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    background: #202020;
    color: #fafafa;

    align-items: center;
    justify-content: center;
}
#mask h3{
    position: absolute;

    font-size: 50px;
    font-family: monospace;
}
#mask div{
    position: absolute;
    width: clamp(240px, 50%, 460px);
    height: clamp(240px, 50%, 460px);

    display: flex;
    align-items: center;
    justify-content: center;

    animation: revolve 1000ms infinite reverse;
}
#mask div h4{
    position: absolute;

    width: 100%;
    text-align: left;

    animation: revolve 500ms var(--delay) infinite ease-in-out;
}
#mask div h4 p{
    width: 30px;
    height: 30px;
    border-radius: 50%;

    background: #ff1f1f;
    
    display: flex;
    align-items: center;
    justify-content: center;

    animation: scaler 700ms var(--delay) infinite;
}
@keyframes revolve {
    0%{
        filter: hue-rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes scaler {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}
.post_result{
    position: absolute;
    bottom: 20vh;

    font-size: 30px;
    color: yellow;
    font-family: monospace;
}