.new{
    z-index: 800;

    position: fixed;
    bottom:0px;
    right: 0px;

    border-radius: 10px;
    padding: 10px;

    background: #313131;
    color: #b4b4b4;
}



#post{
    display: none;

    z-index: 1000;

    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    
    overflow-y: scroll;
    overflow-x: hidden;

    padding: 20px;
    padding-bottom: 200px;

    background: #667592;

    text-align: center;
}

#post h2{
    margin: 0;

    font-family: monospace;
    text-decoration: underline;
}

#post img{
    max-width: 60%;
    margin: 20px 20%;
}

#post textarea{
    width: 90%;
    min-width: 90%;
    max-width: 90%;
    min-height: 100px;

    padding: 10px;

    margin-top: 20px;

    font-size: 25px;
    border: 3px #000000 solid;
    outline: none;
}

#post label{
    cursor: pointer;
    user-select: none;

    font-size: 30px;
} 

#post input[type="submit"], button{
    cursor: pointer;

    font-family: monospace;

    background: #25547e;
    color: #ebebeb;

    width: 80%;

    margin: 20px 10%;

    padding: 10px 20px;

    font-size: 30px;
    font-weight: 900;
    letter-spacing: 3px;

    border-radius: 10px;
    border: 0;
}
button{
    background: #611313;
    color: #ebebeb;
}

#post p{
    font-size: 15px;
}











#mask{
    display: none;

    z-index: 1000;

    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    background: #000000e8;
    color: #ebebeb;

    align-items: center;
    justify-content: center;
}
#mask h3{
    position: absolute;

    font-size: 50px;
    font-family: monospace;
}
#mask div{
    position: absolute;
    width: 60vw;
    height: 60vw;

    display: flex;
    align-items: center;
    justify-content: center;
    
}
#mask div h4{

    width: 100%;
    text-align: left;

    animation: revolve 1s infinite ease-in-out;
}
#mask div h4 p{
    width: 50px;
    height: 50px;

    font-size: 30px;
    
    transform: rotate(-45deg);
    
    display: flex;
    align-items: center;
    justify-content: center;
}
@keyframes revolve {
    0%{
        
        transform: rotate(0deg);
    }
    100%{
        
        transform: rotate(360deg);
    }
}

.post_result{
    position: absolute;
    bottom: 20vh;

    font-size: 30px;
    color: yellow;
    font-family: monospace;
}